<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resetting the password</title>
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="/css/hamburg.css">
</head>
<body>
          <%-   include ../partial/navigation.ejs %>
        <form class="product-form" action="/reset" method="POST">
            <%-   include ../partial/alerts.ejs %>
            <div class="form-control">
               <label for="email">Email:</label>
               <input type="email" name="email" id="email">
               <div class="form-control">
                <button type="submit">
                   Reset Password
                </button>
          </div>
            </div>
          
        </form>

</body>
</html>