<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reset form</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="css/navigate.css">
    <link rel="stylesheet" href="/css/hamburg.css">
</head>
<body>
          <%-   include ../partial/navigation.ejs %>
        <form class="product-form" action="/changePassword" method="POST">
            <%-   include ../partial/alerts.ejs %>
            <div class="form-control">
               <label for="password">New password</label>
               <input type="text" name="password" id="password">
               <input type="hidden" value="<%= token %>" name="gettoken">
               <div class="form-control">
                <button type="submit">
                   Change Password
                </button>
          </div>
            </div>
          
        </form>

</body>
</html>