body
{
    padding: 0;
    margin: 0;
    font-family: sans-serif
}
.main-header{
   width: 100%;
   height: 3.5rem;
   background-color: #dbc441;
   padding: 0 1.5rem;
}
.main-header_nav
{
    height: 100%;
    display: flex;
    align-items: center;
}
.main-header_item-list
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   display: flex;
}
.main-header_item
{
 padding: 0;
 margin: 0 1rem;

}
.main-header_item a{
   text-decoration: none;
   color: #000;
}
.main-header_item a:hover,
.main-header_item a:active,
.main-header_item a.active
{
   color: #6200ff;
}
.grid
{
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    grid-gap: 1rem;
    margin-top: 30px;
}
.product-item
{
    font: inherit;
    text-align: center;
    border: 1.5px solid #eee;
    border-radius: 5px;
    font-family: sans-serif;
    -webkit-box-shadow: 2px 8px 25px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 8px 25px -4px rgba(0,0,0,0.75);
    box-shadow: 2px 8px 25px -4px rgba(0,0,0,0.75);
}
.card-header
{
    background-color: #eee;
}
.card-content
{
    background-color: #eee;
}
.card-image,
.card-image img
{
    width: 100%;
    height : 200px;
}
.card-image{
    border-bottom:  1px solid #000;
}

.btn
{
    border-radius: 3px;
    border: 1px solid #dbc441;
    color: #dbc441;
    background-color: #fff;
}
.btn:hover{
    background-color: #dbc441;
    color: #fff;
}


.login-ul
{
    list-style-type: none;
}
.login-link
{
    text-decoration: none;
    color: #000;
}
.login-link:hover{
    color: #6200ff
}
.center
{
    text-align: center
}
.success_edit
{
    border: 1px solid #1d904f;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0px;
    color: #1d904f;
    text-transform: capitalize;
    width: 50%;
    margin: auto;

}
.success_delete
{
    border: 1px solid #e92a19;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0px;
    color: #e92a19;
    text-transform: capitalize;
    width: 50%;
    margin: auto;
}

.success_add
{
    border: 1px solid #192A56;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0px;
    color: #192A56;
    text-transform: capitalize;
    width: 50%;
    margin: auto;   
}
.product-title{
    text-transform: capitalize;
}
.product-description{
    text-transform: capitalize;
}

@media(max-width: 600px){
    .grid
    {
        width: 80%;
        display: block;
        margin: auto;
        margin-top: 30px;
    }
    .product-item{
        margin-top: 20px;
    } 
    }
